.footer {
  background: $black;
  width: 100%;
  color: $white;

  &__container {
    gap: 20px;
    padding: 18% 0;
    font-size: $font-s;
  }

  &__logo {
    width: 30%;
  }

  &__nav {
    &-link {
      color: $white;
      font-family: $main;
      font-size: $font-s;
      line-height: 10px;
    }

    &-link:hover {
      color: $brown;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__phone,
  &__hours-title,
  &__socials-title {
    padding-bottom: 20px;
  }

  .fa-brands {
    font-size: 1.5rem;
  }

  &__legal {
    border: 1px solid $brown;
    gap: 10px;
    padding: 10px 0;
    &-link {
      color: $white;
      font-family: $main;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    &__container,
    &__legal {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      line-height: 1.2;
    }

    &__container {
      padding: 10% 0;
      gap: 20px;
    }

    &__logo {
      width: 12%;
    }

    &__socials {
      display: flex;
      flex-direction: column;
    }

    &__legal {
      &-link {
        font-size: 0.7rem;
        padding: 10px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .footer {
    &__container {
      justify-content: space-around;
      padding: 5% 10%;
      gap: 5%;
    }
    &__legal {
      justify-content: center;
    }
  }
}
