footer {
    background: $black;
    width: 100%;
    color: $white;

    .footercontact {
        gap:20px;
        padding: 18% 0;
        font-size: 0.87rem;

        img {
            width: 30%;

        }

        nav {
            ul {
                li {
                    a {
                        color: $white;
                        font-family: $main;
                        font-size: 0.87rem;
                        line-height: 10px;
                    }

                    a:hover {
                        color: $brown;
                    }
                }
            }
        }
        div {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        span {
            i {
                font-size: 1.5rem;
            }
        }
        
    }

    .mentions {
        border: 1px solid $brown;
        gap: 10px;
        padding: 10px 0;
        a {
            color : $white;
            font-family: $main;

        }

    }
}