.contact-form {
  height: auto;
  padding: 0 20px;

  &__separator {
    border: 0.25px solid $black;
    width: 85%;
    margin-bottom: 15%;
  }

  &__title {
    font-size: 1.5rem;
    line-height: 30px;
  }

  &__description {
    font-size: $font-s;
    line-height: 18px;
    padding: 10% 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &__input {
    border: 1px solid $black;
    height: 28px;
    width: 100%;
  }

  &__field-label {
    font-size: $font-s;
  }

  &__group {
    width: 100%;
    padding-top: 20px;
    &--name {
      .contact-form__group-label {
        font-size: $font-s;
      }
      .contact-form__row {
        display: flex;
        justify-content: center;
        gap: 5px;
      }
      .contact-form__field {
        width: 50%;

        .contact-form__field-label {
          font-size: $font-xs;
          padding-top: 0;
        }
      }
    }
    &--checkbox {
      width: 100%;
      display: flex;
      align-items: center;
      gap: $gap-s;
      padding-top: 20px;

      .contact-form__checkbox {
        width: 20px;
        height: 20px;
      }

      .contact-form__checkbox-label {
        font-size: $font-m;
        padding-top: 0;
        line-height: 18px;
      }
    }
  }

  &__textarea {
    resize: both;
    width: 100%;
    height: 5rem;
    border: 1px solid $black;
  }
  &__submit {
    @include button;
    width: 100%;
    margin: 30px 0;
    height: auto;
  }
}

@media (min-width: 768px) {
  .contact-form {
    padding: 0 20px 10% 20px;
    &__title {
      align-self: flex-start;
      text-align: left;
      font-size: 2.2rem;
      line-height: 1.4;
    }
    &__description {
      font-size: $font-s;
      line-height: 18px;
      padding: 5% 0;
    }
  }
}

@media (min-width: 1024px) {
  .contact-form {
    padding-bottom: 0;
    hr {
      margin-bottom: 5%;
    }

    &__container {
      padding: 5% 10%;
      display: flex;
      flex-direction: row;
      gap: 5%;
    }

    &__content,
    &__form {
      width: 50%;
    }
  }
}
