header {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  box-shadow: 0 0px 7px $black;
  z-index: 10;
  padding: 20px;

  img {
    width: 30%;
  }

  nav {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      li {
        a {
          text-transform: uppercase;
          color: $black;
        }

        a:hover {
          color: $brown;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    flex-direction: row;
    justify-content: space-around;

    img {
      width: 15%;
    }
    nav {
      ul {
        flex-direction: row;
        gap: 15px;
      }
    }
  }
}

@media (min-width: 1024px) {
  header {
    flex-direction: row;
    justify-content: space-around;

    img {
      width: 10%;
    }
    nav {
      ul {
        flex-direction: row;
        gap: 3.5rem;
      }
    }
  }
}
