#savoir-faire {
    height: 75vh;
    justify-content: space-evenly;

    .citation {
        gap: 10px;
        line-height: 1.3;
        
        h2 {
            font-size: 1.4rem;
        }
    }

    .introduction {
        border: 1px solid $black;
        font-size: 0.9rem;
        text-align: center;
        padding: 15px;


    }
}