// Couleurs

$brown: #ab864c;
$white: #ffffff;
$black: #000000;

// Polices

$main: Poppins-Light, sans-serif;
$title: Kaisei_Decol, serif;
$link: Poppins, sans-serif;

// Font-size

$font-xs: 0.65rem;
$font-s: 0.87rem;
$font-m: 1rem;
$font-l: 1.2rem;
$font-xl: 1.5rem;
$font-xxl: 2.2rem;

// Gap

$gap-s: 10px;
$gap-m: 20px;
$gap-l: 30px;
